@(emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("playauthenticate.password.forgot.title")) {

	<h1>@Messages("playauthenticate.password.forgot.title")</h1>
	<p>
	@form(routes.Signup.doForgotPassword, 'class -> "form-inline", 'role -> "form") {

            @if(emailForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @emailForm.globalError.message
		     	</p>
            }

	   @_emailPartial(emailForm)

    <button type="submit" class="btn btn-default">@Messages("playauthenticate.password.forgot.cta")</button>
	}
	</p>
}
