@(emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.password.forgot.title")) {

	<h1>@Messages("playauthenticate.password.forgot.title")</h1>
	<p>
	@form(routes.Signup.doForgotPassword) {
	   
            @if(emailForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@emailForm.globalError.message</span>
		        </p>
            }
	   
	   @_emailPartial(emailForm)
           
		<input type="submit" value="@Messages("playauthenticate.password.forgot.cta")" class="btn btn-primary"> 
	}
	</p>
}