@(emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@import helper.twitterBootstrap._

@main("Forgot password") {

	<h1>Forgot your password?</h1>
	<p>
	@form(routes.Signup.doForgotPassword) {
	   
            @if(emailForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@emailForm.globalError.message</span>
		        </p>
            }
	   
	   @_emailPartial(emailForm)
           
		<input type="submit" value="Send me instructions on how to reset my password" class="btn btn-primary"> 
	}
	</p>
}