@(acceptForm: Form[Account.Accept], newAccount: com.feth.play.module.pa.user.AuthUser)

@label = {
	Link @_providerIcon(newAccount.getProvider()) (@newAccount) with your user?
}

@main("Link account") {

	<h1>Link new account</h1>
	
	@helper.form(routes.Account.doLink) {
	   
	   @if(acceptForm.hasGlobalErrors) { 
	       <p class="error">
	           @acceptForm.globalError.message
	       </p>
	   }
	   
	   @helper.inputRadioGroup(
            acceptForm("accept"),
            options = Seq("true"-> "Yes, link this account to my user","false"->"No, log out and create a new user with this account"),
            '_label -> label)
           
		<input type="submit" value="OK"> 
	}
}