@(changeForm: Form[controllers.Account.PasswordChange])

@import helper._
@import helper.twitterBootstrap._

@main("Change your password") {

	<h1>Change your password here</h1>
	<p>
	@form(routes.Account.doChangePassword) {
	   
       @if(changeForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@changeForm.globalError.message</span>
     	</p>
       }

	   @_passwordPartial(changeForm)
           
		<input type="submit" value="Change my password" class="btn btn-primary"> 
	}
	</p>
}