
@import be.objectify.deadbolt.Deadbolt

@main("Welcome to Play Authenticate") {
    <h1>Play Authenticate sample app</h1>
    <a href="@routes.Application.restricted()">To restricted page</a>
    <br/>
    @if(Deadbolt.viewRoleHolderPresent()) {
    	<a href="@routes.Account.link()">Link additional providers</a>
    	<br/>
    	<a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">logout</a>
    } else {
    	<a href="@routes.Application.login()">login</a>
    }
    <br/>
    <small><a href="http://icondock.com/free/vector-social-media-icons" target="_blank">Icons by icondock</a></small>
}