@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main("Login") {
    
    <h1>Login with</h1>
    
    @if(flash.contains("error")) {
      <div class="alert alert-error">
      	@flash().get("error")
      </div>
    }
    
    @if(flash.contains("message")) {
      <div class="alert alert-success">
      	@flash().get("message")
      </div>
    }
    
	@_providerPartial(skipCurrent=false)
	
	@helper.form(routes.Application.doLogin) {
	
            @if(loginForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@loginForm.globalError.message</span>
		        </p>
            }
            
            @inputText(
                loginForm("email")
            )
            
            @inputPassword(
                loginForm("password")
            )
            
            <input type="submit" value="OK">
	}
}