@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.Deadbolt

<!DOCTYPE html>
<html lang="@lang().code()">
  <head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://code.jquery.com/jquery-1.7.2.min.js" defer="defer"></script>
    <meta name="description" content="Play Authenticate - an authentication module for the Play! Framework 2.0">
    <meta name="author" content="The Play Authenticate Team">
	<script src="@routes.Assets.at("js/bootstrap.min.js")" defer="defer"></script>
    <!-- Le styles -->
    <link href="@routes.Assets.at("stylesheets/main.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="@routes.Application.index()">Play Authenticate</a>
          
          <div class="btn-group pull-right">
          @if(Deadbolt.viewRoleHolderPresent()) {
          	@defining(Application.getLocalUser(session())) { user =>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> @user.name
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="@routes.Application.profile()">Profile</a></li>
              <li><a href="@routes.Account.link()">Link more providers</a></li>
              <li class="divider"></li>
              <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">Sign Out</a></li>
            </ul>
            }
          } else {
          <a href="@routes.Application.login()" class="btn btn-primary btn-mini @("disabled".when(nav == "login"))">Log in</a>
          }
          </div>

          
          <div class="nav-collapse">
            <ul class="nav">
              <li class="@("active".when(nav == ""))"><a href="@routes.Application.index()">Home</a></li>
              <li class="@("active".when(nav == "restricted"))"><a href="@routes.Application.restricted()">Restricted page</a></li>
                
                @if(!Deadbolt.viewRoleHolderPresent()) {
			    	<li class="@("active".when(nav == "signup"))"><a href="@routes.Application.signup()">Sign up</a></li>
			    }
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
	    @if(flash.contains("error")) {
	      <div class="alert alert-error">
	      	@flash().get("error")
	      </div>
	    }
	    @if(flash.contains("message")) {
	      <div class="alert alert-success">
	      	@flash().get("message")
	      </div>
	    }
		@content
		
    <hr>

      <footer>
        <p>&copy; 2012 Play Authenticate. Licensed under Apache License, Version 2.0. View details <a href="https://github.com/joscha/play-authenticate/blob/master/LICENSE">here</a>.</p>
        <p>
        <small>Styles by <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Twitter Bootstrap</a> &middot; Provider icons by <a href="http://icondock.com/free/vector-social-media-icons" target="_blank">Icondock</a></small></p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
