@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main("Signup") {
    
    <h1>Signup</h1>
    
	@_providerPartial(skipCurrent=false)
	
	@helper.form(routes.Application.doSignup) {
	
            @if(signupForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@signupForm.globalError.message</span>
		        </p>
            }

            @inputText(
                signupForm("name")
            )
            
            @inputText(
                signupForm("email")
            )
            
            @inputPassword(
                signupForm("password")
            )
            
            @inputPassword(
                signupForm("repeatPassword"),
                '_error -> signupForm.error("password")
            )
            
            <input type="submit" value="OK">
	}
}