@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main("Signup","signup") {
    
  <div class="row">
    <div class="span6">
      <h1>Sign up</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="span3">
        @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup) {
    	
            @if(signupForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@signupForm.globalError.message</span>
		        </p>
            }

            @inputText(
                signupForm("Your name")
            )
            
            @inputText(
                signupForm("Your e-mail address")
            )
            
            @inputPassword(
                signupForm("Choose a password")
            )
            
            @inputPassword(
                signupForm("Repeat chosen password"),
                '_error -> signupForm.error("password")
            )
            
            <input type="submit" value="Sign up now" class="btn btn-primary">
    	}
    </div>

    <div class="span3">
        or log in using one of the following providers:
        @* Display list of available providers *@
        @_providerPartial(skipCurrent=false)
    </div>

  </div>

}