@(changeForm: Form[controllers.AuthenticateAccount.PasswordChange])

@import helper._
@import helper.twitterBootstrap._

@pa_views.main(Language.message("playauthenticate.change.password.title")) {

    <h1>@Language.message("playauthenticate.change.password.title")</h1>
    <p>
    @form(routes.AuthenticateAccount.doChangePassword) {

       @if(changeForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@changeForm.globalError.message</span>
         </p>
       }

       @pa_views._passwordPartial(changeForm)
           
        <input type="submit" value="@Language.message("playauthenticate.change.password.cta")" class="btn btn-primary">
    }
    </p>
}